@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
	font-family: "Cabin", "맑은 고딕"
}

.navbar-inverse {
	background-color: #ad1d28;
	border-color: #911821;
}

.navbar-inverse .navbar-brand {
	font-size: 28px;
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #fff;
	background-color: #cd3742;
}

.btn-primary {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
}

.btn-warning {
	color: #ffffff;
	background-color: #debb27;
	border-color: #debb27
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning
	{
	color: #ffffff;
	background-color: #bfa01d;
	border-color: #ad911a
}

.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning
	{
	background-image: none
}

.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active
	{
	background-color: #debb27;
	border-color: #debb27
}

.btn-warning .badge {
	color: #debb27;
	background-color: #ffffff
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	color: #fff;
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.pagination>li>a, .pagination>li>span {
	color: #47a447;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
	color: #5cb85c;
	background-color: #eee;
	border-color: #ddd;
}

a {
	color: #000;
	text-decoration: none;
}